* {
    padding: 0;
    margin: 0;
}
.h3,.h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h3 {
    font-size: 20px;
}
.h4 {
    font-size: 18px;
    font-weight: 350;
    line-height: 30px;
}
html,body {
    width: 100%;
    height: 100%;
}
#container {
    width: 100%;
    height: 100%;
}
#left-info {
    float: left;
    width: 260px;
    height: 100%;    
    background-color: cadetblue;
    overflow:auto;
}
.left-container {
    position: fixed;
    padding: 30px;

}
.img-container {
    padding: 20px;
    text-align: center;
}
.motto {
    position: fixed;
    margin-bottom: 36px;
    bottom: 0;
}
#right-content {
    margin-left: 280px;
    height: 100%;
    background-color: blanchedalmond;
    overflow: scroll;
}
.module-title {
    font-size: 20px;
    font-weight: 600;
    padding: 30px 0 10px;
}
.module-info {
    border-top: 2px black dashed;
}