::-webkit-scrollbar{
    display:none;
  }
* {
    padding: 0;
    margin: 0;
    font-family:"Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
.h3,.h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.h3 {
    font-size: 20px;
}
.h4 {
    font-size: 18px;
    font-weight: 350;
    line-height: 30px;
}
html,body {
    width: 100%;
    height: 100%;
}
#container {
    width: 100%;
    height: 100%;
}
@media screen and (max-width:108px) {
    #left-info {
        width: 150px;
    }
    #right-content {
        margin-left: 160px;
    }
    /* .slim-hidden {
        display: none;
    } */
}
#left-info {
    float: left;
    width: 260px;
    height: 100%;    
    background-image:url(http://pexl8uosh.bkt.clouddn.com/picture.png);
    overflow:auto;
}
 .left-container {
    /* position: fixed; */
    padding: 30px;
} 
.img-container {
    padding: 20px;
    text-align: center;
}
.motto {
    position: fixed;
    margin-bottom: 36px;
    bottom: 0;
}
#right-content {
    margin-left: 280px;
    height: 100%;
    /* background-color: blanchedalmond; */
    overflow: scroll;
}
.module-title {
    font-size: 20px;
    font-weight: 600;
    padding: 30px 0 10px;
}
.module-info {
    /* border-top: 2px black dashed; */
    padding: 10px 10px 0 10px;
}
.badge {
    display:inline;
    border: 1px solid rgb(170,184,163);
    border-radius: 4px;
    background-color:rgb(237,237,237);
    margin: 0 5px;
    word-break: break-all;
}
.module-info-main {
    line-height: 18px;
}
.module-info-sub {
    color: grey;
}